body{
    background-color: rgb(7, 229, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    top: 20px;
    margin-top: 30px;


}
.signin-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.signin-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.signin-container input[type="text"],

.signin-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
.signin-container button {
    width: 100%;
    background-color: rgb(9, 236, 40);
    color: rgb(243, 204, 204);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.signin-container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(0, 255, 47);
}
.signin-container a {
    color: rgb(0, 255, 85);
}

nav:hover{
    color: crimson;
}

